$color-white: #fff;
$color-black: #000;
$color-blue: #16ABF8;
$color-light-grey: #f4f4f4;
$color-light-grey-2: #E5E5E5;
$color-dark-grey: #4A4A4A;
$color-grey: #888;
$color-red: #ED4C5C;
$color-yellow: #F8A541;
$color-green: #00A790;
$color-purple: #8942C1;
$color-dark-blue: #428BC1;
